
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Sentinel Vision</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>🤖 AI Sentinel</h2>

        <ul>

            <li class="active">🏠 Dashboard</li>

            <li>📸 Gallery</li>

            <li>📜 History</li>

            <li>⚙ Settings</li>

            <li>❌ Exit</li>

        </ul>

    </div>


    <!-- Main -->

    <div class="main">

        <div class="topbar">

            <h1>AI Face Detection Dashboard</h1>

            <span class="live">● LIVE</span>

        </div>


        <div class="camera-card">

            <img
            id="video"
            src="{{ url_for('video_feed') }}"
            alt="Live Camera">

        </div>

        <div class="buttons">

            <button id="captureBtn">
                📸 Capture
            </button>

            <button>
                🎥 Record
            </button>

            <button onclick="location.reload()">
                🔄 Refresh
            </button>

        </div>

    </div>


    <!-- Right Panel -->

    <div class="right-panel">

        <div class="card">

            <h3>Faces</h3>

            <h1 id="faces">0</h1>

        </div>

        <div class="card">

            <h3>FPS</h3>

            <h1 id="fps">0</h1>

        </div>

        <div class="card">

            <h3>Status</h3>

            <h2 id="status">

                Waiting...

            </h2>

        </div>

        <div class="card">

            <h3>Distance</h3>

            <h2 id="distance">

                --

            </h2>

        </div>

        <div class="card">

            <h3>Time</h3>

            <h3 id="time">

                --

            </h3>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
